
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    color: #fff;
}

.search-bar input {
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 300px;
    background-color: #444;
    color: #fff;
}

button {
    padding: 8px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: var(--orange-color);
    font-size: 0.95rem;
}

button:hover {
    transform: scale(0.98);
    background-color: var(--peach-color);
}

.guest-options {
    display: flex;
}

.menu-icon {
    color: var(--orange-color);
    margin-right: 20px;
}

.user-menu-profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    top: 10px;
}

.guest-options p {
    margin: 5px;
}

.guest-options a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

main {
    margin-top: 70px;
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.post {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
}

.menu {
    height: 200px;
    width: 150px;
    position: fixed;
    left: 0;
    top: 100;
    padding-top: 40px;
    color: #fff;
    background-color: red;
}

.menu ul {
    display: block;
}

.create-post-btn {
    margin-right: 20px;
}

.profile {
    /* margin-top: 5rem; */
}

footer {
    background-color: #222;
    color: #ccc;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}