:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --blue-color: #7695FF;
  --lightblue-color: #9DBDFF;
  --peach-color: #FFD7C4;
  --orange-color: #FF9874;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

